@import "@/styles/variables.scss";

$gradientColorPrimary: #FF6363;
$gradientColorSecondary: #7100FF;

.heroSubtitle a {
  color: rgba(white, 0.7);
  transition: color 200ms;

  &:hover {
    color: rgba(white, 1);
  }
}

.heroButton {
  position: relative;
  padding: 12px 40px;
  border: 3px solid rgba(white, 0.3);
  border-radius: 10px;
  background-color: rgba(white, 0.9);
  background-clip: padding-box;
  color: black;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 200ms;
  margin-bottom: 28px;

  &:hover {
    background-color: rgba(white, 1);
  }

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 0;
    left: 5px;
    z-index: -1;
    border-radius: 6px;
    background: conic-gradient(
                    from 147.14deg at 50% 50%,
                    $gradientColorSecondary -55.68deg,
                    $gradientColorPrimary 113.23deg,
                    $gradientColorSecondary 195deg,
                    $gradientColorSecondary 304.32deg,
                    $gradientColorPrimary 473.23deg,
    );
    filter: blur(20px);
    opacity: .5;
  }

  @media (min-width: $md) {
    min-width: 280px;
  }
}

.heroResumeLink {
  color: rgba(white, 0.4);
}

.heroResumeLink a {
  color: rgba(white, 0.7);
  transition: color 200ms;

  &:hover {
    color: rgba(white, 1);
  }

  @media (max-width: 360px - 1px) {
    display: inline-block;
  }
}
