/**
 * Container & Layout
 */
.container {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1280px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainColumn {
  @media (min-width: 1280px) {
    flex: 0 0 auto;
    width: 50%;
  }
}

/**
 * Intro
 */
$colorIntroButton: #272727;

.intro {
  text-align: center;
  margin-bottom: 2rem;
}

.introAvatar {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.introTitle {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.introDescription {
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: $colorGrayLight;
}

.introButton {
  padding: 0.25rem 0.75rem;
  background: $colorIntroButton;
  display: inline-block;
  border-radius: 0.25rem;
  transition: transform 300ms ease;

  span {
    margin-right: 0.5rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}

/**
 * Links
 */
$colorLinksItemSubtitle: #CCCCCC;

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linksBlock {
  max-width: 9.35rem;
  margin: 2rem 2rem 0;

  @media (min-width: 768px) {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 0 0.75rem;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.linksItemTitle {
  text-decoration: none;
  border-bottom: 1px dashed $colorGrayLight;
  transition: border-color 200ms ease;

  &:hover {
    border-color: rgba(0, 0, 0, 0);
  }
}

.linksItemSubtitle {
  color: $colorLinksItemSubtitle;
  font-size: 12px;
  margin: 5px 0;
}
