*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#__next,
#__next > main,
#__next > main > div {
  height: 100%;
  overscroll-behavior: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $colorWhite;
  background-color: $colorBlack;
  line-height: 1.65;
  letter-spacing: 0.1px;
  min-width: 320px;
}

main {
  position: relative;
}

main > div:first-child {
  position: relative;
  z-index: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin: 0;
}
