/* Variables: Media Queries */
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* Variables: Colors */
$colorBlack: #121212;
$colorWhite: #FFFFFF;
$colorYellowGreen: #D3F000;

/* Variables: Colors with Shades */
$colorGrayLight: #AAAAAA;
$colorGrayDark: #272727;
