// Colors without shades
$colorBlack: #121212;
$colorWhite: #FFFFFF;

// Colors with shades
$colorGrayLight: #AAAAAA;

// Component specific colors
$colorBody: $colorWhite;
$colorBodyBg: $colorBlack;
